

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Tab 1</a>
    <a class="item" data-tab="second">Tab 2</a>
</div>

<div class="ui bottom attached segment tab active" data-tab="first">
    <div class="ui four doubling cards first-tab">

        <div class="ui card">
            <a href="/Product/{{ID}}">
                <div class="image">
                    <img src="{{img}}"
                    style="width: auto; height : 240px;">
                </div>
            </a>
            <div class="content">
                <a href="/Product/{{ID}}" class="header">{{title}}</a>
                <div class="right floated price">${{price}}</div>
            </div>
        </div>
        
    </div>
    <div class="ui bottom attached button" tabindex="0">
        <i class="angle double down icon"></i>
        Bottom &nbsp
        <i class="angle double down icon"></i>
    </div>

</div>

<div class="ui bottom attached segment tab" data-tab="second">
    <div class="ui four doubling cards second-tab">

    </div>

    <div class="ui bottom attached button" tabindex="0">
        <i class="angle double down icon"></i>
        Bottom &nbsp
        <i class="angle double down icon"></i>
    </div>

</div>

<div class="ui bottom attached tabular menu">
    <a class="item active" data-tab="first">Tab 1</a>
    <a class="item" data-tab="second">Tab 2</a>
</div>