<div class="ui bottom attached segment">
    <div class="ui four doubling cards">

        <div class="ui card">
            <a href="/Product/{ID}">
                <div class="image">
                    <img src="{img}"
                    style="width: auto; height : 240px;">
                </div>
            </a>
            <div class="content">
                <a href="/Product/{ID}" class="header">{title}</a>
                <div class="right floated price">${price}</div>
            </div>
        </div>
        
    </div>
    <div class="ui bottom attached button">
        <i class="angle double down icon"></i>
        Bottom &nbsp
        <i class="angle double down icon"></i>
    </div>

</div>
